.container{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    height: 200%;
    width: 100%;
    display: grid;
    place-content: center;
    font-family: 'Montserrat', sans-serif;
}
.p0 {
    height: 30px;
    background-color: rgb(7, 29, 230);
}
.h3{
    color: rgb(13, 41, 199);
    font-size: 20px;

}
.h2{
    color: rgb(247, 249, 250);
    font-size: 60px;
    background-color: rgb(5, 6, 7);
}
.h1{
    padding-right: 70px;
    padding-left: 70px;
    font-size: 50px;
    color: rgb(6, 7, 7);
}
.p1{
    font-size: 16px;
    color: rgb(13, 41, 199);
}
.p2{
    color: rgb(13, 41, 199);
    font-size: 17px;
    
}
.p3{
    background-color: rgb(7, 29, 230);
    height: 40px;
}

p strong {
   
    color: white;
    background-color: black;
}
